body {
  display: flex;
  background-color: rgba(0,0,0,0);
}

#TikTakToe {
  margin: 0 auto;
  background-color: rgba(0,0,0,0);
}

#gamefield {  
  width: 13.5em;  
}

.button {
  height: 1.5em;
  width: 1.5em;
  vertical-align: bottom;
  font-size: 3em;
}

.info {
  font-size: 1.25em;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
